doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Presentation

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1.bullet <font color="000066"> SOCIAL NETWORKING </font>
        ul
          li Frans Octa Wednes Siahaan <font color="808080"> 101113121 </font>
          li Erwin Syahputra <font color="808080"> 101111058 </font>
          li Yosia Simamora <font color="808080"> 101110851 </font>
          li Antonius Try Andy Duha <font color="808080"> 101111511 </font>

      section
        h2.bullet Content
        ul
          li Pengertian Social Network
          li Sejarah Social Network
          li Beberapa Contoh Social Network
          li Pengaruh Social Network Terhadap Para Penggunanya
          li Kesimpulan

      section
        h2 Pengertian Social Network
        h3 Social Network (Jejaring Sosial) adalah struktur sosial yang terdiri dari elemen-elemen individual atau organisasi. Jejaring ini menunjukan jalan di mana mereka berhubungan karena kesamaan sosialitas, mulai dari mereka yang dikenal sehari-hari sampai dengan keluarga. Istilah ini diperkenalkan oleh Profesor J. A. Barnes di tahun 1954.

      section
        h2 Pengertian Social Network (lanj.)
        h3 Dewasa ini, pengertian Social Network lebih kepada sebuah bentuk layanan internet yang ditujukan sebagai komunitas online bagi orang yang memiliki kesamaan aktivitas, ketertarikan pada bidang tertentu, atau kesamaan latar balakang tertentu.

      section
        h2 Sejarah Social Network
        h3 Social Network pertama kali di dunia di buat oleh 2 orang penggila komputer, yaitu Ward Christensen dan Randy Suess pada tahun 1978. Mereka menciptakan sistem yang dinamai BBS (Computerized Bulletin Board System). BBS ini hanya bisa digunakan untuk menginformasikan kegiatan, pemberitahuan, dan menyebarkan berita.

      section
        h2 Sejarah Social Network (lanj.)
        h3 Pada tahun 1994 akhir , David Bohnett dan John Rezner sebagai Beverly Hills Internet meluncurkan Geocities , yang dapat membantu dalam pembuatan web sendiri. Namun pada 26 Oktober 2009, Geocities dinyatakan ditutup, padahal user-built pages di geocities sebelum ditutup, mencapai 38 juta user-built pages.

      section
        h2 Sejarah Social Network (lanj.)
        h3 Tahun 1995, web memiliki 1 juta website 1997, member Geocities melewati 1 juta member, AOL Instant Messenger diresmikan pada tahun ini juga, dengan fitur chatting atau pesan instan atar member AoL, dan tahun ini juga Google diluncurkan, yang dapat memudahkan orang untuk menemukan informasi di dunia maya.

      section
        h2 Sejarah Social Network (lanj.)
        h3 Pada tahun 1998, Geocities menjadi terkenal di masyarakat dan Yahoo langsung membeli sahamnya dengan harga $3.57 milliar. Friends Reunited dibuat di Inggris yang memiliki fitur untuk mencari teman, pasangan, bahkan pekerjaan. Pada tahun berikutnya, Blogging meluncurkan layanan Blogger kepada masyarakat.

      section
        h2 Sejarah Social Network (lanj.)
        h3 Tahun 2000, menjadi suatu awal baru bagi dunia Social Network. Tahun ini diluncurkan situs Friedster, dimana dalam 3 bulanusernya mencapai 3 juta. Tahun 2002, Member AOL mencapai 34 juta member dan MySpace diluncurkan. Tahun 2003, Google membeli saham Blogger. Serta muncul social network Linkedln yang diperuntukan untuk profesional.

      section
        h2 Sejarah Social Network (lanj.)
        h3 Tahun 2004, tahun dimana Facebook diluncurkan oleh Mark Zuckerberg, sehingga membuat seorang investor ingin membelinya dengan harga $10 juta, tapi Mark menolak tawaran tersebut.
      section
        h2 Sejarah Social Network (lanj.)
        h3 Pada tahun 2005, News Corps membeli MySpace dengan $580 juta dan Viacom menawarkan pembelian Facebook dengan $75 juta, namun tetap di tolak dan Facebook meluncurkan situsnya untuk pelajar SMA. Tahun ini juga membuat MySpace sebagai Sosial Network paling terkenal di Amerika Serikat.

      section
        h2 Sejarah Social Network (lanj.)
        h3 Tahun berikutnya, 2006, Viacom menawarkan pembelian kembali kepada pihak Facebook dengan nominal $1,5 milliar sedangkan Yahoo menawarkan dengan $1 milliar ,namun tawaran keduanya tetap di tolak. Pencarian menggunakan Google menembus angka 400 juta pencarian tiap harinya dan Twitter pun tercipta pada tahun ini juga.

      section
        h2 Sejarah Social Network (lanj.)
        h3 Tahun 2007, Facebook mengungguli MySpace, dengan meluncurkan Beacon, suatu sistem periklanan. Namun beberapa web memprotes Beacon karena melanggar aturan privasi sehingga pada tahun 2009, Beacon diberhentikan. Dan pada tahun 2008, Facebook menjadi urutan pertama, sebagai Social Network yang paling sering di gunakan di seluruh dunia, dengan 200 juta pengguna dan menjadikannya 2x lebih padat dari pada MySpace.

      section
        h2.bullet Beberapa Contoh Social Network
        ul
          li Facebook
          li Twitter
          li Blog
          li Foursquare

      section
        h2 Beberapa Contoh Social Network - Facebook 
        h3 Facebook adalah sebuah layanan jejaring sosial dan situs web yang diluncurkan pada Februari 2004 yang dioperasikan dan dimiliki oleh Facebook, Inc. Pada Januari 2011, Facebook memiliki lebih dari 600 juta pengguna aktif. Pengguna dapat membuat profil pribadi, menambahkan pengguna lain sebagai teman dan bertukar pesan, termasuk pemberitahuan otomatis ketika mereka memperbarui profilnya. 

      section
        h2 Beberapa Contoh Social Network - Facebook (lanj.)
        h3 Pengguna dapat membuat profil dilengkapi foto, daftar ketertarikan pribadi, informasi kontak, dan informasi pribadi lain. Pengguna dapat berkomunikasi dengan teman dan pengguna lain melalui pesan pribadi atau umum dan fitur obrolan. Mereka juga dapat membuat dan bergabung dengan grup ketertarikan dan “halaman kesukaan.

      section
        h2 Beberapa Contoh Social Network - Twitter
        h3 Twitter adalah sebuah situs web yang dimiliki dan dioperasikan oleh Twitter Inc., yang menawarkan jejaring sosial berupa mikroblog sehingga memungkinkan penggunanya untuk mengirim dan membaca pesan yang disebut Tweets (kicauan). 

      section
        h2 Beberapa Contoh Social Network - Twitter (lanj.)
        h3 Tweets adalah teks tulisan hingga 140 karakter yang ditampilkan pada halaman profil pengguna. Tweets bisa dilihat secara luar, namun pengirim dapat membatasi pengiriman pesan ke daftar teman-teman mereka saja. Pengguna dapat melihat tweets penulis lain yang dikenal dengan sebutan Follower (pengikut).


      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild